#container {
  height: 400px;
}

.App {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}
.gridPiece {
  border: black solid 1px;
  background-color: green;
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
  color: yellow;
  text-align: center;
  user-select: none;
  font-size: 2em;
  line-height: 0.9em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  .gridPiece {
    background-color: grey;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  .gridPiece {
    background-color: green;
  }
}
