.App {
  text-align: center;
}
.gridPiece {
  border: black solid 1px;
  background-color: grey;
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
  color: yellow;
  text-align: center;
  user-select: none;
  font-size: 2em;
}
